# Ignore bundler config.
/.bundle

# Ignore bundler gems.
vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
app/assets/builds
/public/uploads

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

node_modules/

/.env
/.env.development
/.env.production
