<div class="flex items-start mb-4">
  <%= link_to current_page?(controller: 'mypage', action: 'dashboard') ? '#' : user, class: "flex max-w-xs items-center rounded-ful text-sm focus:outline-none shrink-0", data: { turbo: false } do %>
  <%= image_tag user.avatar_url(:thumbnail), class: "rounded-full h-12 w-12 sm:h-16 sm:w-16", alt: User.human_attribute_name(:avatar) %>
  <% end %>
  <div class="px-5 text-base sm:text-xl break-all">
    <%= user.name %>
  </div>
</div>
