<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<p class="text-center inline-block">
  <span class="py-1 sm:py-2 mx-1 rounded-md <%= page.current? ? 'bg-[#4F46E5] px-2 sm:px-3 text-white hover:bg-indigo-500' : 'bg-form hover:bg-gray-100 hover:text-black' %>">
    <%= link_to_unless page.current?, page, url, {remote: remote, rel: page.rel, class: 'py-1 sm:py-2 px-2 sm:px-3'} %>
  </span>
</p>
