<div class="max-w-[800px] m-auto my-8 rounded-2xl">
  <nav class="flex">
    <%= link_to t('mypage.dashboard.title'), mypage_dashboard_path, class: current_mypage('dashboard') %>
    <%= link_to t('mypage.follows.title'), mypage_follows_path, class: current_mypage('follows') %>
    <%= link_to t('mypage.followers.title'), mypage_followers_path, class: current_mypage('followers') %>
  </nav>
</div>
