<div class="max-w-[800px] m-auto mb-16">
  <%= turbo_frame_tag "fishes-list" do %>
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
      <%= render fishes %>
    </div>
    <%= paginate @fishes, class: 'mt-3'%>
  <% end %>
</div>
