markerLatLng = new google.maps.LatLng({lat: <%= fish.latitude.to_s %>, lng: <%= fish.longitude.to_s %> });
marker[<%= fish.id %>] = new markerWithLabel.MarkerWithLabel({
  position: markerLatLng,
  map: map,
  icon: {
    url: 'images/fish1.png',
    scaledSize: new google.maps.Size(32, 40)
  },
  labelContent: '<%= fish.species.name %>',
  labelAnchor: new google.maps.Point(-21, 3),
  labelClass: "marker-labels",
});
// 吹き出しの追加
// infoWindow[i] = new google.maps.InfoWindow({
//     content: '<div class="sample">' + markerData[i]['name'] + '</div>'
//   });

// markerEvent(i); // マーカーにクリックイベントを追加
