
<div class="bg-form p-6 rounded-2xl relative">
  <div class="flex flex-col">
    <%= render 'fishes/fish_info', { fish: fish } %>
    <div class="flex-grow h-[75px] break-all pr-6 pb-6 overflow-y-scroll"><%= simple_format(fish.body)%></div>
  </div>
</div>
