<script>
  var lat                             // 緯度
  var lng                             // 経度
  var latlng;                         // 中心の緯度, 経度
  var map;                            // 表示用のマップ
  var current_marker;                 // 現在の位置情報
  var marker = [];
  var infoWindow = [];

  function initMap() {
    // 現在位置を取得できた時
    function success(pos) {
      lat = pos.coords.latitude;
      lng = pos.coords.longitude;
      latlng = new google.maps.LatLng(lat, lng);
      map = new google.maps.Map(document.getElementById('maps'), {
        zoom: 10,
        center: latlng,
        mapTypeId: 'terrain',
      });
      current_marker = new google.maps.Marker({ // 現在地にマーカーを立てる
        position: latlng,
        map: map,
      });
      marker();
    }
    // 現在位置を取得できなかった時
    function fail(error) {
      alert('位置情報の取得に失敗しました。エラーコード：' + error.code);
      latlng = new google.maps.LatLng(35.6812405, 139.7649361); //東京駅
      map = new google.maps.Map(document.getElementById('maps'), {
        zoom: 10,
        center: latlng,
        mapTypeId: 'terrain',
      });
      marker();
    }
    // 釣果用のマーカーを立てる
    function marker() {
      <%= render partial: "fish", collection: @fishes %>
    }
    // マーカーをホバーした時に吹き出しを表示
    // function markerEvent(i) {
    //     marker[i].addListener('mouseover', function() { // マーカーをクリックしたとき
    //       infoWindow[i].open(map, marker[i]); // 吹き出しの表示
    //   });
    //     marker[i].addListener('mouseout', function(){
    //       infoWindow[i].close(map, marker[i]);
    //   });
    // }
    navigator.geolocation.getCurrentPosition(success, fail);
  }
  // 中心位置を変更する
  function changeCenter() {
    map.panTo(latlng);
  }
</script>

<%# 表示部分 %>
<div id="maps" class="w-full h-[calc(100vh_-_64px_-_64px)] relative" >
</div>
<button class="bg-white w-10 h-10 absolute top-32 m-[10px] rounded-sm right-0" onClick="changeCenter()">
  <div class="w-7 h-7 m-auto">
    <%= heroicon "map-pin" %>
  </div>
</button>
